.drop-box {
    border: 2px dashed gray;
    height: 50px; /* Set an appropriate height */
    margin-top: 5px;
    position: relative;
    background-color: #f0f0f0; /* Light gray background */
}

.clear-btn {
    margin-top: 5px;
}

.container {
    max-width: 800px; /* Adjust based on your design preferences */
    margin: auto;
    padding: 20px;
}

.slider {
    width: 90%; /* Make the slider span the full width of its container */
    margin-top: 20px; /* Space between the image and the slider */
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.slider-labels span {
    flex: 1;
    text-align: center;
    white-space: nowrap;
}

.btn {
    margin: 15px 5px; /* Provides spacing between buttons */
}

#result {
    color: green; /* Default color for messages */
    margin-top: 10px;
}

.camera-setup {
    position: relative;
    display: inline-block;
}

.drop-zone {
    border: 2px dashed gray;
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #f0f0f0;
}

#shutterSpeedZone {
    top: 20px; /* Adjust these values based on the image layout */
    left: 20px;
}

#apertureZone {
    top: 20px;
    left: 140px;
}

#isoZone {
    top: 20px;
    left: 260px;
}

.draggable {
    padding: 5px 10px;
    margin: 5px;
    background-color: lightblue;
    cursor: pointer;
}

.btn {
    margin: 10px;
}

#result {
    color: green;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}
.draggables {
    display: flex; /* Use flexbox to arrange items */
}
.draggable {
    margin-right: 10px; /* Add some space between the elements */
    display: flex;
    justify-content: center;
    align-items: center;

}
.drop-slot img {
    width: 80%; /* Ensures the image takes full width of its container */
    max-width: 90px; /* Decrease max-width to make images smaller */
    height: auto; /* Keeps the aspect ratio intact */
    display: block; /* Removes bottom space/gap under the image */
    margin: auto; /* Centers the image within the column */
}
.btn-success{
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.btn-success:hover,
.btn-success:focus {
    background-color: #006fe5 !important;
    border-color: #007bff !important;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #007bff var(--slider-value), #ccc var(--slider-value)) !important; 
    border-radius: 5px;
    height: 8px;
}

/* Style the slider thumb/handle */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #007bff !important; /* Set thumb color to blue */
    border-radius: 50%;
    cursor: pointer;
}

.title{
    color: #5e5e5e;
}
