{% extends "layout.html" %}

{% block title %}Aperture Part 2{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <!-- Aperture diagram image -->
            <img src="{{ url_for('static', filename='images/Aperture2.png') }}" alt="Aperture Diagram" class="img-fluid">
        </div>
    </div>
    <div class="text-center mt-4" style="margin-bottom: 10px; margin-left: -2%;">
        <!-- Navigation buttons -->
        <a href="{{ url_for('aperture_1') }}" class="btn btn-secondary" style="margin-right: 10px;">Previous Lesson</a>
        <a href="{{ url_for('aperture_3') }}" class="btn btn-primary">Next Lesson</a>
    </div>
</div>
{% endblock %}
