{% extends "layout.html" %}

{% block title %}ISO Lesson 1{% endblock %}

{% block content %}
<div class="container" style="font-size: 18px;">
    <div class="row">
        <!-- Left column for text content -->
        <div class="col-md-6" style="margin-top: 30px;">
            <h1>What is ISO?</h1>
            <p>ISO is a camera setting that will <strong>brighten or darken</strong> a photo.</p>
            <p>As you increase your ISO number, your photos will grow progressively brighter.</p>
            <p>ISO can help you capture images in darker environments, or be more flexible about your aperture and shutter speed settings.</p>
            
            <h2 style="margin-top: 50px;">However, raising your ISO has consequences.</h2>
            <p>High ISO will show a lot of <strong>grain (noise)</strong>, and might not be usable.</p>
            <p>So, brightening a photo via ISO is always a trade-off. You should only raise your ISO when you are unable to brighten the photo via shutter speed or aperture instead.</p>
        </div>

        <!-- Right column for images -->
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/ISO1.png') }}" alt="ISO Progression" class="img-fluid mb-3" style="margin-top: 30px;">
            <img src="{{ url_for('static', filename='images/ISO2.png') }}" alt="ISO Comparison Clean vs Noisy" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center"> <!-- Ensure this div spans the full width of the row -->
            <a href="{{ url_for('iso2') }}" class="btn btn-primary mt-3">Next Lesson</a>
        </div>
    </div>
</div>
{% endblock %}
