<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Photography for Beginners</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Include Bootstrap CSS from CDN for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #add8e6 !important;" >
        <a class="navbar-brand" href="{{ url_for('home') }}">Photography for Beginners</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('iso1') }}">ISO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('shutter_1') }}">Shutter Speed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('aperture_1') }}">Aperture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('quiz_iso') }}">Quiz</a>
                </li>
            </ul>
        </div>
    </nav>
    

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>

    <!-- Include jQuery and Bootstrap's JS from CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
