{% extends "layout.html" %}
{% block title %}ISO Question{% endblock %}

{% block content %}
<link rel="stylesheet" href="main.css" >
<script src="script.js"></script>
<h1>Question 2-ISO</h1>
<div class="container">
    
        <!-- Image being matched on the left -->
        <div class=" text-center">
            <p> Example Scenrio: You're shooting a daytime nature and want to minimize digital noise. Which ISO setting should you choose?
</p>
            <p> IMAGE 1</p>
        </div>
    
    
    <div class="slider-container text-center">
        <p>ISO Values</p>
        <input type="range" min="0" max="4" step="1" class="slider" id="myRange" style="width: 18%;">
        <!-- Display the values below the slider -->
        <div class="slider-values">
            <span>1600-</span>
            <span>800-</span>
            <span>400-</span>
            <span>200-</span>
            <span>100</span>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{{ url_for('quiz_3') }}" class="btn btn-primary">Next Question</a>
    </div>
</div>
{% endblock %}
