{% extends "layout.html" %}
{% block title %}Aperture Question{% endblock %}

{% block content %}
<link rel="stylesheet" href="main.css" >
<script src="script.js"></script>
<h1>Question 3-Shutter Speed</h1>
<div class="container">
    
        <!-- Image being matched on the left -->
        <div class=" text-center">
            <p> Example Scenrio: You're photographing a session outdoors on a cloudy day, and you want to ensure a sharp, moderately lit picture. Which shutter speed setting should you choose?</p>
            <p> IMAGE 1</p>
        </div>
    
    
    <div class="slider-container text-center">
        <input type="range" min="0" max="4" step="1" class="slider" id="myRange" style="width: 22%;">
        <!-- Display the values below the slider -->
        <div class="slider-values">
            <span>1/4-</span>
            <span>-1/60-</span>
            <span>1/125-</span>
            <span>1/500-</span>
            <span>1/1000</span>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{{ url_for('results_1') }}" class="btn btn-primary">Get Results</a>
    </div>
</div>
{% endblock %}
