{% extends "layout.html" %}

{% block title %}Shutter Speed Part 5{% endblock %}

{% block content %}
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <!-- Enlarged image -->
            <img src="{{ url_for('static', filename='images/Shutter7.jpg') }}" alt="Shutter Speed Example" >
        </div>
    </div>
    <div class="mt-4 text-center">
        <!-- Navigation buttons to previous lessons -->
        <a href="{{ url_for('shutter_1') }}" class="btn btn-secondary">Part 1</a>
        <a href="{{ url_for('shutter_2') }}" class="btn btn-secondary">Part 2</a>
        <a href="{{ url_for('shutter_3') }}" class="btn btn-secondary">Part 3</a>
        <a href="{{ url_for('shutter_4') }}" class="btn btn-secondary">Part 4</a>
        <a href="{{ url_for('shutter_quiz') }}" class="btn btn-primary">Take the Quiz</a>
    </div>
</div>
{% endblock %}
